@font-face {
    font-family: 'slackidum-font';
    src: url('/static/fonts/LuckiestGuy-Regular.ttf')  format('truetype');
}
@font-face {
    font-family: 'product-sans';
    src: url('/static/fonts/Product Sans Regular.ttf')  format('truetype');
}
@font-face {
    font-family: 'product-sans';
    src: url('/static/fonts/Product Sans Bold.ttf')  format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'product-sans';
    src: url('/static/fonts/Product Sans Italic.ttf')  format('truetype');
    font-style: italic;
}
@font-face {
    font-family: 'product-sans';
    src: url('/static/fonts/Product Sans Bold Italic.ttf')  format('truetype');
    font-weight: bold;
    font-style: italic;
}
html {
    min-height: 100%;
}
body {
    /* background-color: #eef0f6; */
    font-family: 'product-sans';
    margin: 0;
    position: relative;
    background: url('/static/images/bg.png') repeat;
    background-size: 400px;
    
}
body > * {
    flex-shrink: 0;
  }
  
.navbar-brand {
    font-family: 'slackidum-font';
}
.btn-slcolor {
    background-color: #6a16c0;
    color: #fff;
}
.btn-slcolor:hover {
    background-color: #8a53c3;
    color: #fff;
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
.jumbotron {
    background: none;
}
.homepage-banner {
    height: 300px;
    width: 90%;
    margin-bottom: 20px;
}
footer {
    width: 100%;
    padding: 20px;
    clear: both;
    height: 60px;
    bottom: 0;
    position: absolute;
    top: calc(100% - 0px);
}
.footer-links {
    margin: 0;
    padding: 0;
}
.footer-links li {
    display: inline-block;
    margin-left: 10px;
}
a {
    color: #6a16c0;
}
a:hover {
    color: #8a53c3;
}
.form-control:focus, .btn:focus {
    border-color: #8a53c3;
    border-color: #8a53c3;
    box-shadow: 0 0 0 0.2rem rgba(106, 22, 192, 0.25);
}
.sidebar {
    width: 100%;
    height: calc(100vh - 76px);
    background-color: #6a16c0;
    border-color: #4a0f87;
    border-width: 0px 1px;
    border-style: solid;
    overflow-y: auto;
}
.sidebar-title {
    padding: 10px 20px 20px 20px;
}
.sidebar-list {
    clear: both;
}
.sidebar-list .list-group-item {
    border-radius: 0px;
    padding: 3px 20px;
    background-color: transparent;
    color: #fff;
    border: none;
}
.sidebar-list .list-group-item.active {
    background: linear-gradient(to right, #8a53c3,#6a16c0);
    /* border-color: #8a53c3; */
}
.sidebar-list .list-group-item-action:hover, .sidebar-list .list-group-item-action.active:hover {
    background: none;
    background-color: #8a53c3;
}
.sidebar:hover > .sidebar-list .list-group-item-action.active {
    background: none;
    background-color: #8a53c3;
}
.chat-screen {
    width: 100%;
    min-height: 100%;
    background-color: #fff7f9cc;
    border: 1px solid #d4d4d4;
    border-width: 0 1px 0 0;
}
.no-chat-screen {
    background-color: #fff7f9cc;
    border: 1px solid #d4d4d4;
    border-width: 0 1px 0 0;
}
.no-chat-screen .new-convo {
    top: 35%;
    width: 100%;
    position: inherit;
}
.no-chat-screen img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 120px;
    width: 120px;
}
.no-chat-screen p {
    font-size: 14px;
}
.no-chat-screen p, h3 {
    text-align: center;
}
.add-contact-container {
    width: 100%;
    min-height: 100%;
    background-color: #fff7f9cc;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: #d4d4d4;
    padding: 50px 50px !important;
}
.chat-container {
    height: calc(100vh - 92px);
    margin-bottom: -60px;
}
.chat-input-container {
    padding: 10px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #f5f5f5;
    border: 1px solid #d4d4d4;
    border-width: 1px 0 0 0;
}
.chat-thread-container {
    position: relative;
    bottom: 78px;
    top: 0px;
    overflow-y: auto;
    width: 100%;
    height: calc(100vh - 184px);
}
.chat-thread-container .chat-message {
    padding: 5px 20px;
    border: 1px solid #e3e1e1;
    border-width: 1px 0 0 0;
    /* position: absolute; */
    bottom: 55px;
}
.sidebar-btn {
    color: #fff;
}
.sidebar-btn:hover {
    color: #fff;
}
.user-suggest-container {
    width: 100%;
    margin-top: -13px;
}
.user-result {
    padding: 5px 15px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #efefef;
    border-top-width: 0.2px;
}
.user-result:hover {
    background-color: #6a16c0;
    border-color: #8a53c3;
    color: #fff;
    cursor: pointer;
}
.user-added-queue {
    margin-top: 30px;
}
.text-slmuted {
    color: #af80e0;
}
.chat-thread-header {
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
    border: 1px solid #efefef;
    border-width: 1px 0;
}
.prev-message-link {
    background-color: white;
    color: gray;
    font-size: 13px;
}
.prev-message-link:hover {
    cursor: pointer;
}
.shrink-chat {
    width: 60%;
}
.group-sidebar {
    width: 100%;
    background-color: #6a16c0;
    border-color: #4a0f87;
    border-width: 0px 1px;
    border-style: solid;
    height: calc(100vh - 126px);
    color: #fff;
    overflow-y: auto;
}
.add-more-members {
    padding: 0 17px;
    margin-top: -15px;
    position: absolute;
    z-index: 9999;
}
.add-more-members .user-result {
    color: #000;
    background: rgba(255,255,255,0.95);
}
.add-more-members .user-result:hover {
    background-color: #efefef;
    border-color: #efefef;
}
.strikethrough {
    text-decoration: line-through;
    cursor: auto !important;
}
.online-icon {
    color: #a0ec2b;
    text-shadow: 0px 1px 10px #ffffff;
    font-size: small;
    margin-right: 5px;
}
.offline-icon {
    font-size: small;
    margin-right: 5px;
    color: #7f2cd4;
}
.user-avatar {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #8043c1;
}
.sign-in-container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #efefef;
    border-radius: 10px;
    height: auto;
}
.page-container {
    background-color: #d9d5efc7;
    min-height: calc(100vh - 76px);
    padding: 75px;
    border: 1px solid #d6d6d6;
}
.new-msg-highlight {
    background: rgba(193, 141, 45, 0.83) !important;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.vertical-center {
    /* min-height: 100%;  Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }
  #contact-list {
    margin-bottom: 20px;
  }