@font-face {
    font-family: 'slackidum-font';
    src: url('/static/fonts/LuckiestGuy-Regular.ttf')  format('truetype');
}
@font-face {
    font-family: 'product-sans';
    src: url('/static/fonts/Product Sans Regular.ttf')  format('truetype');
}
@font-face {
    font-family: 'product-sans';
    src: url('/static/fonts/Product Sans Bold.ttf')  format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'product-sans';
    src: url('/static/fonts/Product Sans Italic.ttf')  format('truetype');
    font-style: italic;
}
@font-face {
    font-family: 'product-sans';
    src: url('/static/fonts/Product Sans Bold Italic.ttf')  format('truetype');
    font-weight: bold;
    font-style: italic;
}
html {
    min-height: 100%;
}
body {
    /* background-color: #eef0f6; */
    font-family: 'product-sans';
    margin: 0;
    position: relative;
    background: url('/static/images/bg.png') repeat;
    background-size: 400px;
    
}
body > * {
    flex-shrink: 0;
  }
  
.navbar-brand {
    font-family: 'slackidum-font';
}
.btn-slcolor {
    background-color: #6a16c0;
    color: #fff;
}
.btn-slcolor:hover {
    background-color: #8a53c3;
    color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
.jumbotron {
    background: none;
}
.homepage-banner {
    height: 300px;
    width: 90%;
    margin-bottom: 20px;
}
footer {
    width: 100%;
    padding: 20px;
    clear: both;
    height: 60px;
    bottom: 0;
    position: absolute;
    top: calc(100% - 0px);
}
.footer-links {
    margin: 0;
    padding: 0;
}
.footer-links li {
    display: inline-block;
    margin-left: 10px;
}
a {
    color: #6a16c0;
}
a:hover {
    color: #8a53c3;
}
.form-control:focus, .btn:focus {
    border-color: #8a53c3;
    border-color: #8a53c3;
    box-shadow: 0 0 0 0.2rem rgba(106, 22, 192, 0.25);
}
.sidebar {
    width: 100%;
    min-height: 100%;
    background-color: #6a16c0;
    border-color: #4a0f87;
    border-width: 0px 1px;
    border-style: solid;
}
.sidebar-title {
    padding: 20px;
}
.sidebar-list {
    clear: both;
}
.sidebar-list .list-group-item {
    border-radius: 0px;
    padding: 3px 20px;
    background-color: transparent;
    color: #fff;
    border: none;
}
.sidebar-list .list-group-item.active {
    background: linear-gradient(to right, #8a53c3,#6a16c0);
    /* border-color: #8a53c3; */
}
.sidebar-list .list-group-item-action:hover, .sidebar-list .list-group-item-action.active:hover {
    background: none;
    background-color: #8a53c3;
    transition: 100ms;
}
.sidebar:hover > .sidebar-list .list-group-item-action.active {
    background: none;
    background-color: #8a53c3;
    transition: 100ms;
}
.chat-screen {
    width: 100%;
    min-height: 100%;
    background-color: #fff7f9cc;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: #d4d4d4;
}
.add-contact-container {
    width: 100%;
    min-height: 100%;
    background-color: #fff7f9cc;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: #d4d4d4;
    padding: 50px 50px !important;
}
.chat-container {
    margin-top: -3em;
    height: calc(100vh - 92px);
    margin-bottom: -60px;
}
.chat-input-container {
    padding: 10px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    border: 1px solid #d4d4d4;
    border-width: 1px 0 0 0;
}
.chat-thread-container {
    position: absolute;
    bottom: 70px;
    position: absolute;
    bottom: 78px;
    top: 0px;
    overflow-y: auto;
}
.chat-thread-container .chat-message {
    padding: 20px;
    border: 1px solid #e3e1e1;
    border-width: 1px 0 0 0;
}
.sidebar-btn {
    color: #fff;
}
.sidebar-btn:hover {
    color: #fff;
}
